@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Code+Pro:wght@500&family=Teko:wght@300&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Code+Pro:wght@500&family=Teko:wght@300&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@200&family=Source+Code+Pro:wght@500&family=Teko:wght@300&family=Unica+One&display=swap');
/* font-family: 'Lato', sans-serif;

font-family: 'Source Code Pro', monospace;

font-family: 'Teko', sans-serif;

font-family: 'Unica One', cursive; */

html {
  scroll-behavior: smooth;
}

.App {
  width: 100%;
  margin: 0px;
}

.full-description-div {
    width: 100%;
}

.full-description {
  line-height: 18vmin;
  margin-left: 0vmin;
  width: 90%;
  font-size: 20vmin;
  margin-top: 0vmin;
  font-weight: 1;
  z-index: 6;
}

.main-images {
  margin-top: 0vmin;
  z-index: -1;
}

#main-images {
  margin-top: 100vmin;
  width: 60vmin;
  z-index: -9;
  margin-top: -10vmin;

}

a {
  text-decoration: none;
}

#main-images-two {
  margin-left: 130vmin;
  margin-top: -70vmin;
  z-index: -2;
  width: 60vmin;
}
#main-images-three {
  margin-left: 40vmin;
  margin-top: -60vmin;
  z-index: -2;
  width: 100vmin;
}


.title {
  font-family: 'Teko', sans-serif;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

h1 {
  /* background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif); */
  
  background-image: url(https://media.giphy.com/media/4QxQgWZHbeYwM/source.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 2vmin;
  line-height: .75;
  margin: 10px 0;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #FFF;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}

.about-me {
  margin-top: 80vmin;
  margin-left: 0vmin;
  border-left: 2px solid black;
  padding-left: 90px;
  display: flex;
  display: none;
}

@media (min-width:767px)
{
  .about-me {
    margin-top: 80vmin;
    margin-left: 40vmin;
    border-left: 2px solid black;
    padding-left: 90px;
    display: flex;
  }

}

.description {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  width: 90vmin;
  padding-left: 15vmin;
  padding-top: -4vmin;
}

.main-about {
  font-size: 2vmin;
}


.not-me {
  font-family: 'Teko', sans-serif;
  margin-top: 4vmin;
  margin-left: -25vmin;
}



.content {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  width: 100vw;
}

.one {
  background: #333;
  font-size: 30px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  margin: 1em;
  text-align: center;
  width: 300px;
}

.two {
  background: #333;
  font-size: 30px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  margin: 1em;
  text-align: center;
  width: 300px;
}

.three {
  background: #333;
  font-size: 30px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  margin: 1em;
  text-align: center;
  width: 300px;
}

.one {
  background-color: #EC368D;
}

.two {
  background-color: #333;
}

.three {
  background-color: #440381;
}


body::-webkit-scrollbar {
  width: 0.3em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#main-images-street {
  z-index: -10;
}



body {
  margin: 0;
}
#octocat {
  height: 300px;
  width: 200px;
  background: url(https://codinhood.com/static/9a146dac647e7129fa173acc0b0d437f/299c1/octocat.png) left center;
  animation: animateSprite 15s steps(1) infinite, swim 15s ease-in-out infinite;
  position: absolute;
  right: -200px;
  top: 50%;
  margin-top: -150px;
  z-index: 100;
}


@keyframes animateSprite {
  0% {
    background-position: -600px; /* Starting position moving left sprite */
  }
  20% {
    background-position: 0px; /* Straight on sprite */
  }
  25% {
    background-position: -200px; /* Moving up sprite */
  }
  35% {
    background-position: -400px; /* Moving right sprite */
  }
  40% {
    background-position: -400px;
  }
  50% {
    background-position: -200px;  /* Moving up sprite */
  }
  60% {
    background-position: -0px; /* Straight on sprite */
  }
  67% {
    background-position: -600px; /* Moving up sprite */
  }

  100% {
    background-position: -600px;
  }
}

@keyframes swim {
  0% {
    transform: translate(0, 0); /* Starting position */
  }
  20% {
    transform: translate(calc(-50vw - 100px), 0); /* Animate to center of screen */
  }
  25% {
    transform: translate(calc(-50vw - 100px), 0); /* Stay at the center for 1 second */
  }
  35% {
    transform: translate(calc(-50vw - 100px), -20vh); /* Animate up for 2 seconds */
  }
  50% {
    transform: translate(-25vw, 15vh); /* Animate bottom right for 3 seconds */
  }
  60% {
    transform: translate(-25vw, -20vh); /* Animate up at right of the screen */
  }
  67% {
    transform: translate(-25vw, -20vh);
  }

  100% {
    transform: translate(calc(-100vw - 300px), 0); /* Animate past left past the screen */
  }
}
.ocean {
  margin-top: -1200vmimn;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bubble {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: black;
  bottom: -30px;
  opacity: 0.2;
  animation: bubble 15s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}

.bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--11 {
  width: 25px;
  height: 25px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}
