@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Code+Pro:wght@500&family=Teko:wght@300&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Code+Pro:wght@500&family=Teko:wght@300&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@200&family=Source+Code+Pro:wght@500&family=Teko:wght@300&family=Unica+One&display=swap');
/* font-family: 'Lato', sans-serif;

font-family: 'Source Code Pro', monospace;

font-family: 'Teko', sans-serif;

font-family: 'Unica One', cursive; */

html {
  scroll-behavior: smooth;
}

.App {
  width: 100%;
  margin: 0px;
}

.full-description-div {
    width: 100%;
}

.full-description {
  line-height: 18vmin;
  margin-left: 0vmin;
  width: 90%;
  font-size: 20vmin;
  margin-top: 0vmin;
  font-weight: 1;
  z-index: 6;
}

.main-images {
  margin-top: 0vmin;
  z-index: -1;
}

#main-images {
  margin-top: 100vmin;
  width: 60vmin;
  z-index: -9;
  margin-top: -10vmin;

}

a {
  text-decoration: none;
}

#main-images-two {
  margin-left: 130vmin;
  margin-top: -70vmin;
  z-index: -2;
  width: 60vmin;
}
#main-images-three {
  margin-left: 40vmin;
  margin-top: -60vmin;
  z-index: -2;
  width: 100vmin;
}


.title {
  font-family: 'Teko', sans-serif;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

h1 {
  /* background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif); */
  
  background-image: url(https://media.giphy.com/media/4QxQgWZHbeYwM/source.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 2vmin;
  line-height: .75;
  margin: 10px 0;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #FFF;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}

.about-me {
  margin-top: 80vmin;
  margin-left: -30vmin;
  padding-left: 90px;
}

.description {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
 font-size: 2vmin;
  padding-left: 15vmin;
  padding-top: -4vmin;
}

.about-class {
  margin-left: 17vmin !important;
}

#about {
  margin-top: 18vmin !important;
}

@media (min-width:767px)
{
  #about {
    margin-top: 42vmin !important;
  }

  .about-me {
   
    margin-top: 80vmin;
    margin-left: 40vmin;
    padding-left: -0vmin;
    display: flex;
  }

}

.description {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  width: 90vmin;
  padding-left: 15vmin;
}

.main-about {
  font-size: 2vmin;
}

.about-class {
  width: 90vmin !important;
  line-height: 10vmin;
  margin-left: 32vmin !important;
}

.not-me {
  font-family: 'Teko', sans-serif;
  margin-top: 4vmin;
  margin-left: -25vmin;
}

ScrollPage {
  z-index: 1;
}


.content {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  width: 100vw;
}

.one {
  background: #333;
  font-size: 30px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  margin: 1em;
  text-align: center;
  width: 300px;
}

.two {
  background: #333;
  font-size: 30px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  margin: 1em;
  text-align: center;
  width: 300px;
}

.three {
  background: #333;
  font-size: 30px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  margin: 1em;
  text-align: center;
  width: 300px;
}

.one {
  background-color: #EC368D;
}

.two {
  background-color: #333;
}

.three {
  background-color: #440381;
}


body::-webkit-scrollbar {
  width: 0.3em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#main-images-street {
  z-index: -10;
}



body {
  margin: 0;
}
#octocat {
  height: 300px;
  width: 200px;
  background: url(https://codinhood.com/static/9a146dac647e7129fa173acc0b0d437f/299c1/octocat.png) left center;
  animation: animateSprite 15s steps(1) infinite, swim 15s ease-in-out infinite;
  position: absolute;
  right: -200px;
  top: 50%;
  margin-top: -150px;
  z-index: 100;
}


@keyframes animateSprite {
  0% {
    background-position: -600px; /* Starting position moving left sprite */
  }
  20% {
    background-position: 0px; /* Straight on sprite */
  }
  25% {
    background-position: -200px; /* Moving up sprite */
  }
  35% {
    background-position: -400px; /* Moving right sprite */
  }
  40% {
    background-position: -400px;
  }
  50% {
    background-position: -200px;  /* Moving up sprite */
  }
  60% {
    background-position: -0px; /* Straight on sprite */
  }
  67% {
    background-position: -600px; /* Moving up sprite */
  }

  100% {
    background-position: -600px;
  }
}

@keyframes swim {
  0% {
    transform: translate(0, 0); /* Starting position */
  }
  20% {
    transform: translate(calc(-50vw - 100px), 0); /* Animate to center of screen */
  }
  25% {
    transform: translate(calc(-50vw - 100px), 0); /* Stay at the center for 1 second */
  }
  35% {
    transform: translate(calc(-50vw - 100px), -20vh); /* Animate up for 2 seconds */
  }
  50% {
    transform: translate(-25vw, 15vh); /* Animate bottom right for 3 seconds */
  }
  60% {
    transform: translate(-25vw, -20vh); /* Animate up at right of the screen */
  }
  67% {
    transform: translate(-25vw, -20vh);
  }

  100% {
    transform: translate(calc(-100vw - 300px), 0); /* Animate past left past the screen */
  }
}
.ocean {
  
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: -3;
}

.bubble {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: black;
  bottom: -30px;
  opacity: 0.2;
  animation: bubble 15s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}

.bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--11 {
  width: 25px;
  height: 25px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}

.email-class {
  height: 3vmin;
  padding: 1vmin;
  font-size: 2vmin;
  border-color: white;
}

.message-class {
  height: 9vmin;
  padding: 1vmin;
  font-size: 1.5vmin;
  border-color: white;
  box-shadow: none;
}

.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5vmin;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 1vmin 2vmin;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.email-form-info {
  font-size: 3vmin;
}


.social-media {
  position: fixed;
  width: 1vmin;
  margin-top: 13vmin;
  margin-left: 1vmin;
}

#github {
  width: 3vmin;
  padding: 2vmin;
  z-index: 190;
}

#up {
  z-index: 99;
}


HTML CSSResult Skip Results Iframe
EDIT ON
/*
Basic input element using psuedo classes
*/



input,
span,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid rgb(0, 0, 0);
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 100%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 16px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 16px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 28px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #EEE;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}