body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0vmin;
  padding: 0vmin;
  background-color: #FFFFFF;
}

.top-list {
  position: fixed;
  margin-top: vmin;
}

.main-list {
  list-style: none;
  display: flex;
  transition-duration: 200ms; 
}

.main-list li {
  padding: 2vmin;
}

li a {
  font-size: 2vmin;
}

.main-float-right {
  right: 0vmin;
  float: right;
  display: flex;
  align-items: flex-end;
}

.main-title {
  margin-left: 10vmin;
  width: 20vmin;
}

.main-list-underline {
}

.main-list-underline:hover {
  text-decoration: underline;
  
}

.verticle {
  transition-duration: 1000ms;
  position: fixed;
  margin-top: 20%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 2vmin;
  margin-left: 4vmin;
  font-weight: 1;
}

.verticle:hover {
  position: fixed;
  margin-top: 20%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 2vmin;
  margin-left: 4vmin;
  font-weight: 1;
  letter-spacing: 1vmin;
  height: 40vmin;
}









.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  z-index: 5;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.container {
  padding-left: 5vmin;
}

.text-justify {
  width: 80%;
}


.image-file {
  width: 50vmin;
}

.image-file-two {
  width: 50vmin;
  margin-left: 0vmin;
}

.image-lobby {
  padding-left: 10vmin;
  height: auto;
  margin-top: 90vmin;

}

.image-lobby-two {
  padding-left: 10vmin;
  height: auto;
  padding-bottom: 90vmin;
}

#para-one {
  width: 60vmin;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}

#para-two {
  width: 60vmin;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}

@media (min-width:767px)
{

  .about-me {
    display: block;
  }
  .image-lobby {
    padding-left: 35vmin;
    height: auto;
    display: flex;

  }

  .image-lobby-two {
    padding-left: 25vmin;
    height: auto;
    display: flex;
  }

  #para-one {
    width: 60vmin;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
    margin-left: 10vmin
  }

  #para-two {
    width: 50vmin;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
    margin-left: vmin
  }

  .image-file-two {
    width: 50vmin;
    margin-left: 10vmin;
    z-index: 9;
  }
  
  
}


#hyper {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
z-index: 19;
}

#hyper-div {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
z-index: 19;
}

#hyper-div:hover {
  text-decoration: underline;
}



.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
  #mobile-hide {
      display: none;
  }
}

@media (max-width: 768px) {
  
  #mobile-hide {
      display: none;
  }

  .mobile-hide {
      display: none;
  }

  .main-title {
    margin-left: 0vmin;
    width: 20vmin;
  }

  #para-one {
    width: 80vmin;
    font-size: 2vmin;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  }

  .para-two-bot-head {
    width: 100% !important;
    font-size: 4vmin ;
    margin-left: 47vmin  !important;
    margin-top: 90vmin !important;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  }

  .para-two-bot {
    width: 100% !important;
    font-size: 4vmin ;
    margin-left: -7vmin  !important;
    margin-top: -40vmin !important;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  }

  #text-on-phone {
    margin-left: 59vmin;
    font-size: 3vmin;
  }

  .phone-image-two {
    width: 60vmin !important;
    margin-top: 70vmin  !important;
    margin-left:69vmin !important;
  }
  .phone-image {
    width: 60vmin !important;
    margin-top: 70vmin  !important;
    margin-left:69vmin !important;
  }

  .phone-mountain {
    margin-top: 90vmin !important;
  }

 

  .phone-image-two-scuba {
    width: 60vmin !important;
    margin-top: 70vmin  !important;
    margin-left: 0vmin !important;
  }
}

.form {
  z-index: 10;
  padding: -10vmin;
}




